_SS_Cortex_XDR_Incident_Handling_Custom_copy2.yml
id: 31f0bb4e-12cd-4523-82d1-8b2bc2dc5eed
version: 21
name: _SS Cortex XDR Incident Handling Custom_copy
description: "This playbook is triggered by fetching a Palo Alto Networks Cortex XDR
  incident. \nThe playbook syncs and updates new XDR alerts that construct the incident.
  It enriches indicators using Threat Intelligence integrations and Palo Alto Networks
  AutoFocus. The incident's severity is then updated based on the indicators reputation
  and an analyst is assigned for manual investigation. If chosen, automated remediation
  with Palo Alto Networks FireWall is initiated. After a manual review by the SOC
  analyst, the XDR incident is closed automatically.\n\n*** Note - The XDRSyncScript
  used by this playbook sets data in the XDR incident fields that were released to
  content from the Demisto server version 5.0.0.\nFor Demisto versions under 5.0.0,
  please follow the 'Palo Alto Networks Cortex XDR' documentation to upload the new
  fields manually."
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: cf0f3047-b5fe-4108-8c46-964de2733708
    type: start
    task:
      id: cf0f3047-b5fe-4108-8c46-964de2733708
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "5":
    id: "5"
    taskid: 433370ca-1886-42a1-8332-79056f25e51b
    type: regular
    task:
      id: 433370ca-1886-42a1-8332-79056f25e51b
      version: -1
      name: Perform XDR Alerts Sync with Incident
      description: Syncs a single incident between Demisto and XDR. This script always
        uses the xdr-get-incident-extra-data command and outputs to the context the
        entire incident JSON. When the incident is updated in XDR, the Demisto incident
        will be updated accordingly and the default playbook will rerun. When an incident
        is updated in Demisto, the script will execute the xdr-update-incident command
        and update the incident in XDR.
      scriptName: XDRSyncScript
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      alert_count: {}
      assigned_user_mail: {}
      assigned_user_pretty_name: {}
      description: {}
      first: {}
      high_severity_alert_count: {}
      host_count: {}
      incident_id:
        simple: ${incident.xdrincidentid}
      interval:
        simple: "5"
      low_severity_alert_count: {}
      med_severity_alert_count: {}
      notes: {}
      playbook_to_run: {}
      resolve_comment: {}
      severity: {}
      status: {}
      user_count: {}
      verbose: {}
      xdr_alerts: {}
      xdr_file_artifacts: {}
      xdr_incident_from_previous_run: {}
      xdr_incident_markdown_field: {}
      xdr_network_artifacts: {}
      xdr_url: {}
    results:
    - XDRSyncScriptTaskID
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "8":
    id: "8"
    taskid: 35cebb64-cc1b-4a1e-858e-42c1c2c2f78c
    type: regular
    task:
      id: 35cebb64-cc1b-4a1e-858e-42c1c2c2f78c
      version: -1
      name: Close XDR incident
      description: Updates one or more fields of a specified incident. Missing fields
        are ignored. To remove the assignment for an incident, pass a null value in
        assignee email argument.
      script: '|||xdr-update-incident'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      assigned_user_mail: {}
      assigned_user_pretty_name: {}
      incident_id:
        simple: ${incident.xdrincidentid}
      manual_severity: {}
      resolve_comment:
        simple: Some comment here
      status:
        simple: RESOLVED_OTHER
      unassign_user: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 155,
          "y": 3080
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "10":
    id: "10"
    taskid: d2a748f4-da16-4e04-8103-21dc350805d8
    type: title
    task:
      id: d2a748f4-da16-4e04-8103-21dc350805d8
      version: -1
      name: File Analysis
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "12":
    id: "12"
    taskid: 54f287fd-2090-4c41-877a-5c65d3a8e14c
    type: condition
    task:
      id: 54f287fd-2090-4c41-877a-5c65d3a8e14c
      version: -1
      name: Are there files to analyze?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "49"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: PaloAltoNetworksXDR
                accessor: Incident.file_artifacts.file_sha256
                transformers:
                - operator: uniq
            iscontext: true
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "15":
    id: "15"
    taskid: 938e9640-8573-4690-8c20-367b0c5731a3
    type: regular
    task:
      id: 938e9640-8573-4690-8c20-367b0c5731a3
      version: -1
      name: Perform file analysis with AutoFocus
      description: Retrieve the sample analysis
      script: '|||autofocus-sample-analysis'
      type: regular
      iscommand: true
      brand: ""
    scriptarguments:
      coverage: {}
      filter_data: {}
      id:
        complex:
          root: incident
          accessor: xdrfileartifacts.filesha256
          transformers:
          - operator: uniq
      os: {}
      platforms: {}
      sample_id:
        complex:
          root: incident
          accessor: xdrfileartifacts.filesha256
          transformers:
          - operator: uniq
      sections: {}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 640,
          "y": 515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "23":
    id: "23"
    taskid: c8f9a306-df9e-4e6a-8ec1-c977e3a161ec
    type: regular
    task:
      id: c8f9a306-df9e-4e6a-8ec1-c977e3a161ec
      version: -1
      name: Analyst Manual Remediation
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "26"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 2850,
          "y": 2490
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "25":
    id: "25"
    taskid: 2674bdee-3758-44f5-8570-738344346001
    type: condition
    task:
      id: 2674bdee-3758-44f5-8570-738344346001
      version: -1
      name: Would you like to perform auto- remediation?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "23"
      "Yes":
      - "34"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 3060,
          "y": 2270
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "26":
    id: "26"
    taskid: 314be321-8954-4f44-86a0-ed6db9e8f06a
    type: regular
    task:
      id: 314be321-8954-4f44-86a0-ed6db9e8f06a
      version: -1
      name: Analyst Manual Review
      type: regular
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 3065,
          "y": 2665
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "27":
    id: "27"
    taskid: a7718bb0-0711-4523-873e-c00f4e1d8f2f
    type: regular
    task:
      id: a7718bb0-0711-4523-873e-c00f4e1d8f2f
      version: -1
      name: Close Investigation
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      assetid: {}
      closeNotes: {}
      closeReason: {}
      id: {}
      mndadone: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 155,
          "y": 3255
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "29":
    id: "29"
    taskid: 9c2fb0df-e6c0-4759-8d23-07bf26cdfad9
    type: regular
    task:
      id: 9c2fb0df-e6c0-4759-8d23-07bf26cdfad9
      version: -1
      name: Stop XDR Alert Sync with Incident
      description: This stops the scheduled task whose ID is given in the taskID argument.
      scriptName: StopScheduledTask
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      taskID:
        simple: ${XDRSyncScriptTaskID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 3030,
          "y": 2070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "30":
    id: "30"
    taskid: 7afb43bf-64bd-44e2-85e9-fb9b2cdf90dd
    type: title
    task:
      id: 7afb43bf-64bd-44e2-85e9-fb9b2cdf90dd
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 155,
          "y": 3480
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "31":
    id: "31"
    taskid: 0750ec9c-2e33-441a-8e8d-2e6631ae068c
    type: condition
    task:
      id: 0750ec9c-2e33-441a-8e8d-2e6631ae068c
      version: -1
      name: Is AutoFocus Integration enabled?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "15"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: modules
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.brand
                      iscontext: true
                    right:
                      value:
                        simple: Autofocus
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.state
                      iscontext: true
                    right:
                      value:
                        simple: active
                accessor: brand
            iscontext: true
        - operator: isExists
          left:
            value:
              complex:
                root: modules
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.brand
                      iscontext: true
                    right:
                      value:
                        simple: AutoFocus V2
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.state
                      iscontext: true
                    right:
                      value:
                        simple: active
                accessor: brand
            iscontext: true
    view: |-
      {
        "position": {
          "x": 752.5,
          "y": 340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "34":
    id: "34"
    taskid: 43205164-baac-4609-8456-8360d7a02269
    type: playbook
    task:
      id: 43205164-baac-4609-8456-8360d7a02269
      version: -1
      name: Palo Alto Networks - Malware Remediation
      description: This Playbook performs malicious IOC remediation using Palo Alto
        Networks integrations.
      playbookName: Palo Alto Networks - Malware Remediation
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "26"
    scriptarguments:
      AutoCommit:
        simple: "No"
      CustomBlockRule:
        simple: "False"
      CustomURLCategory: {}
      DAG: {}
      EDLServerIP: {}
      IP:
        complex:
          root: IP
          filters:
          - - operator: isExists
              left:
                value:
                  simple: IP.Malicious
                iscontext: true
          accessor: Address
          transformers:
          - operator: uniq
      IPListName: {}
      LogForwarding: {}
      Miner: {}
      StaticAddressGroup: {}
      URL:
        complex:
          root: URL
          filters:
          - - operator: isExists
              left:
                value:
                  simple: URL.Malicious
                iscontext: true
          accessor: Data
          transformers:
          - operator: uniq
      URLListName: {}
    separatecontext: true
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    view: |-
      {
        "position": {
          "x": 3280,
          "y": 2490
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "39":
    id: "39"
    taskid: 314d8df7-08cc-44b6-8109-db83f76cd2cd
    type: condition
    task:
      id: 314d8df7-08cc-44b6-8109-db83f76cd2cd
      version: -1
      name: Is VirusTotal Integration enabled?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "54"
      "yes":
      - "40"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: modules
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.brand
                      iscontext: true
                    right:
                      value:
                        simple: VirusTotal
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.state
                      iscontext: true
                    right:
                      value:
                        simple: active
                accessor: brand
            iscontext: true
        - operator: isExists
          left:
            value:
              complex:
                root: modules
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.brand
                      iscontext: true
                    right:
                      value:
                        simple: VirusTotal
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.state
                      iscontext: true
                    right:
                      value:
                        simple: active
                accessor: brand
            iscontext: true
    view: |-
      {
        "position": {
          "x": -100,
          "y": 1640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "40":
    id: "40"
    taskid: 90142784-be56-45ce-82a9-c59ab736cf00
    type: regular
    task:
      id: 90142784-be56-45ce-82a9-c59ab736cf00
      version: -1
      name: Perform file analysis with VirusTotal
      description: Checks the file reputation of the specified hash.
      script: VirusTotal|||file
      type: regular
      iscommand: true
      brand: VirusTotal
    nexttasks:
      '#none#':
      - "54"
    scriptarguments:
      file:
        simple: ${incident.xdrfileartifacts.filesha256}
      long: {}
      retries: {}
      threshold: {}
      wait: {}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -340,
          "y": 1830
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "45":
    id: "45"
    taskid: ac8c41c9-ecb6-49af-8cb2-e6749a00cc27
    type: condition
    task:
      id: ac8c41c9-ecb6-49af-8cb2-e6749a00cc27
      version: -1
      name: Analyst decision
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      Escalate:
      - "48"
      Keep isolated:
      - "47"
      Unisolate:
      - "46"
    separatecontext: false
    conditions:
    - label: Unisolate
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${Reviewed.Answers.0}
            iscontext: true
          right:
            value:
              simple: Unisolate the endpoint
    - label: Keep isolated
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${Reviewed.Answers.0}
            iscontext: true
          right:
            value:
              simple: Keep the endpoint isolated and notify user
    - label: Escalate
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${Reviewed.Answers.0}
            iscontext: true
          right:
            value:
              simple: Escalate the incident to another analyst
    view: |-
      {
        "position": {
          "x": 155,
          "y": 2430
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "46":
    id: "46"
    taskid: d89817f4-e920-4eed-876c-5c0f3c324526
    type: regular
    task:
      id: d89817f4-e920-4eed-876c-5c0f3c324526
      version: -1
      name: Unisolate the Endpoint
      description: Reverses the isolation of an endpoint.
      script: Cortex XDR - IR|||xdr-unisolate-endpoint
      type: regular
      iscommand: true
      brand: Cortex XDR - IR
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      endpoint_id:
        simple: 9c077b5936ad4f32bab99d1e1b2eafe6
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -300,
          "y": 2640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "47":
    id: "47"
    taskid: 576b33d9-0cd3-472c-8c94-33aceb8bf591
    type: regular
    task:
      id: 576b33d9-0cd3-472c-8c94-33aceb8bf591
      version: -1
      name: Keep Isolated
      description: Send an email
      script: Mail Sender (New)|||send-mail
      type: regular
      iscommand: true
      brand: Mail Sender (New)
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      additionalHeader: {}
      attachCIDs: {}
      attachIDs: {}
      attachNames: {}
      bcc: {}
      body: {}
      cc: {}
      htmlBody: {}
      raw_message: {}
      replyTo: {}
      subject: {}
      templateParams: {}
      to:
        simple: bob@cortex-xdr.com
      transientFile: {}
      transientFileCID: {}
      transientFileContent: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 160,
          "y": 2640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "48":
    id: "48"
    taskid: ca31e040-c680-4455-85c5-6fab05ff36fb
    type: regular
    task:
      id: ca31e040-c680-4455-85c5-6fab05ff36fb
      version: -1
      name: Escalate Incident
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 640,
          "y": 2630
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "49":
    id: "49"
    taskid: 1667526f-6a13-48c6-8a3a-212d6e581fdf
    type: regular
    task:
      id: 1667526f-6a13-48c6-8a3a-212d6e581fdf
      version: -1
      name: Send file to Wildfire for analysis
      description: Returns a verdict for a hash.
      script: WildFire-v2|||wildfire-get-verdict
      type: regular
      iscommand: true
      brand: WildFire-v2
    nexttasks:
      '#none#':
      - "50"
    scriptarguments:
      hash:
        complex:
          root: PaloAltoNetworksXDR
          accessor: Incident.file_artifacts.file_sha256
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "50":
    id: "50"
    taskid: 8e1bea8c-1a42-4a97-838d-73b3eccf16c6
    type: condition
    task:
      id: 8e1bea8c-1a42-4a97-838d-73b3eccf16c6
      version: -1
      name: Is the file Grayware Malware or Benign?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "53"
      GRAYWARE or MALWARE:
      - "51"
    separatecontext: false
    conditions:
    - label: GRAYWARE or MALWARE
      condition:
      - - operator: inList
          left:
            value:
              simple: PaloAltoNetworksXDR.Incident.file_artifacts.file_wildfire_verdict
            iscontext: true
          right:
            value:
              simple: GRAYWARE, MALWARE
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 980
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "51":
    id: "51"
    taskid: 6174ad31-e6a3-4f6b-816c-36384f3cb79d
    type: regular
    task:
      id: 6174ad31-e6a3-4f6b-816c-36384f3cb79d
      version: -1
      name: Send email to victim
      description: Send an email
      script: Mail Sender (New)|||send-mail
      type: regular
      iscommand: true
      brand: Mail Sender (New)
    nexttasks:
      '#none#':
      - "52"
    scriptarguments:
      additionalHeader: {}
      attachCIDs: {}
      attachIDs: {}
      attachNames: {}
      bcc: {}
      body:
        simple: |-
          Hi Bob,

          We just received an endpoint alert from your Laptop/Desktop. It looks like a malicious application was attempting to install on your system.

          For security reasons, your Laptop/Desktop has been isolated. What this means is that your machine cannot go online, or communicate with any other device on the network.

          If you need any assistance, please call IT Security at 1-800-PALO-XDR or email itsecurity@cortex-xdr.com if you can using another device.

          IT Security is investigating, and will contact you soon.

          Regards,
          IT Security
      cc: {}
      htmlBody: {}
      raw_message: {}
      replyTo: {}
      subject:
        simple: Your Laptop/Desktop has been Isolated
      templateParams: {}
      to:
        simple: bob@cortex-xdr.com
      transientFile: {}
      transientFileCID: {}
      transientFileContent: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -100,
          "y": 1260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "52":
    id: "52"
    taskid: cd8003e4-4c17-4e71-8ccc-eb134badfcd9
    type: regular
    task:
      id: cd8003e4-4c17-4e71-8ccc-eb134badfcd9
      version: -1
      name: Isolate machine
      description: Isolates the specified endpoint.
      script: '|||xdr-isolate-endpoint'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "39"
    scriptarguments:
      endpoint_id:
        simple: 9c077b5936ad4f32bab99d1e1b2eafe6
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -100,
          "y": 1455
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "53":
    id: "53"
    taskid: d3eadc68-29d0-410f-8311-02e488720a7b
    type: regular
    task:
      id: d3eadc68-29d0-410f-8311-02e488720a7b
      version: -1
      name: Not Malware or Grayware
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "45"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 510,
          "y": 1455
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
  "54":
    id: "54"
    taskid: 8cfe3aa5-3152-4d0f-8ea6-16aa867393f9
    type: collection
    task:
      id: 8cfe3aa5-3152-4d0f-8ea6-16aa867393f9
      version: -1
      name: Analyst Manual Investigation
      description: Perform manual investigation of the XDR incident. Enter the Cortex
        XDR Incident page through the `https://sanket.xdr.us.paloaltonetworks.com/incidents`
        incident field. Analyze the incident alerts, and perform the necessary remediation
        steps.
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "45"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -70,
          "y": 2000
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to:
        simple: itsecurity@cortex-xdr.com
      subject:
        simple: New XDR incident has been created and endpoint isolated
      body:
        complex:
          root: PaloAltoNetworksXDR
          accessor: Incident.xdr_url
      methods:
      - email
      format: html
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: "Virustotal info: \nAutofocus info\nUsername: ${incident.labels.users}\nComputer/hostname:
            ${incident.labels.hosts}\nWildfire ${WildFire.[0].Verdicts.SHA256} ${
            WildFire.Verdicts.[0].VerdictDescription}\n\nWhat action would you like
            to take next?"
        required: false
        gridcolumns: []
        defaultrows: []
        type: multiSelect
        options:
        - Unisolate the endpoint
        - Keep the endpoint isolated and notify user
        - Escalate the incident to another analyst
        fieldassociated: ""
        placeholder: ""
        tooltip: ""
        readonly: false
      title: Reviewed
      description: |
        Please review the incident in XDR and make a choice below.
      sender: Your SOC team
      expired: false
      totalanswers: 0
    formDisplay:
      headerbackgroundcolor: ""
      headerfontcolor: ""
      sender: ""
      bodybackgroundcolor: ""
      bodyfontcolor: ""
      submitbuttonbackgroundcolor: ""
      submitbuttonfontcolor: ""
      submittext: ""
    skipunavailable: false
    quietmode: 0
view: |-
  {
    "linkLabelsPosition": {
      "31_15_yes": 0.66
    },
    "paper": {
      "dimensions": {
        "height": 3495,
        "width": 4000,
        "x": -340,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
sourceplaybookid: Cortex XDR Incident Handling
